*{
	box-sizing: border-box;
}
body{
}
.container{
	background-color: white;
}
.banner{
	background-image: url(../images/banner4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	font-family: 'Poor Story',cursive;
	text-align: center;
	padding: 120px 0px;
}
.banner h1{
	color: #222;
	font-size: 80px;
	padding-bottom: 10px 0px;
}
.banner p{
	color: #222;
	font-size: 40px;
	padding-bottom: 100px;
}
.banner p span{
		background-color: white;
		opacity: 0.8;
		padding: 15px;
		border-radius: 10px;
}
.banner h1 span{
		background-color: white;
		opacity: 0.8;
		padding: 15px;
		border-radius: 10px;
}
.about_content{
	border: 2px solid white;
	background-color: white;
}
#objective{
	padding: 15px;
	color: maroon;
	background-color: white;
	border: 4px solid maroon;
	opacity: 0.8;
	border-radius: 10px;
}
#objective h1{
	font-family: "Poor Story",cursive;
	font-size: 50px;
}
#objective h1 span{
	border-bottom: 4px solid maroon; 
}
#objective p{
	font-family: "Poor Story",cursive;
	font-size: 20px;

}
#working{
	padding: 15px;
	color: maroon;
	background-color: white;
	margin-top: 5px;
	border: 4px solid maroon;
	opacity: 0.8;
	border-radius: 10px;
}
#working h1{
	font-family: "Poor Story",cursive;
	font-size: 50px;
}
#working h1 span{
	border-bottom: 4px solid maroon; 
}
#working p{
	font-family: "Poor Story",cursive;
	font-size: 20px;

}
#clr{
	color: black;
	text-decoration: underline;
}
#developer{
	padding: 15px;
	color: maroon;
	background-color: white;
	margin-top: 5px;
	border: 4px solid maroon;
	opacity: 0.8;
	border-radius: 10px;
}
#developer h1{
	font-family: "Poor Story",cursive;
	font-size: 50px;
}
#developer h1 span{
	border-bottom: 4px solid maroon; 
}
#developer p{
	font-family: "Poor Story",cursive;
	font-size: 20px;

}
.feedback{
	padding: 15px;
	color: maroon;
	background-color: white;
	margin-top: 5px;
	border: 4px solid maroon;
	opacity: 0.8;
	border-radius: 10px;

}
.feedback h1{
	color: maroon;
	font-family: "Poor Story",cursive;
	font-size: 50px;
}
.feedback h1 span{
	border-bottom: 4px solid maroon; 
}
.col-30{
	width: 30%;
	float: left;
	margin-top: 5px;
}
.col-70{
	width: 70%;
	float: left;
	margin-top: 5px;
}
.feedbackform:after{
	content: "";
	display: table;
	clear: both;
}
input[type = 'text'],input[type = 'email'],textarea{
	padding: 12px;
	color: maroon;
	background-color: white;
	resize: vertical;
	width: 100%;
	border-radius: 5px;
	border:2px solid maroon;
	outline: none;
	transition: 1s;
}
input:hover{
	transition: 1s;
	border-color: green;
}
label{
	color: maroon;
	font-size: 20px;
	font-family: "Poor Story",cursive;
	display: inline-block;
}
input[type = 'submit']{
	background-color: white;
	border: 2px solid maroon;
	border-radius: 10px;
	color: maroon;
	font-family: "Poor Story",cursive;
	font-size: 25px;
	padding: 10px 26px;
	float: right;
	margin-top: 20px;
	text-align: center;
	transition: 0.5s;
}
input[type = 'submit']:hover{
	transition: 0.5s;
	background-color: #00A1F1; 
	color:white;
	border-radius: 10px;
}
.errordisplay{
	color: maroon;
	text-align: center;
	font-size: 20px;
	font-family: "Poor Story",cursive;
}
@media only screen and(max-width: 700px){
	.col-30, .col-70, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}